In [28]:
import pandas as pd
import scipy.stats as sts
rain_to_read = ("assessment/avg_rain_state.csv")
rain_df = pd.read_csv(rain_to_read)
rain_df.sort_values(["Rank"], ascending=False).tail()

          State  Inches  Milli­metres  Rank
8       Florida    54.5          1385     5
0       Alabama    58.3          1480     4
23  Mississippi    59.0          1499     3
17    Louisiana    60.1          1528     2
10       Hawaii    63.7          1618     1

In [13]:
rain_mode = sts.mode(rain_df)

rain_df.mode()
print(rain_mode)
print(rain_df.mode())

ModeResult(mode=array([['Alabama', 28.9, 1279, 9]], dtype=object), count=array([[1, 2, 2, 2]]))
             State  Inches  Milli­metres  Rank
0          Alabama    28.9        1279.0   9.0
1           Alaska    42.2           NaN   NaN
2          Arizona    50.3           NaN   NaN
3         Arkansas     NaN           NaN   NaN
4       California     NaN           NaN   NaN
5         Colorado     NaN           NaN   NaN
6      Connecticut     NaN           NaN   NaN
7         Delaware     NaN           NaN   NaN
8          Florida     NaN           NaN   NaN
9          Georgia     NaN           NaN   NaN
10          Hawaii     NaN           NaN   NaN
11           Idaho     NaN           NaN   NaN
12        Illinois     NaN           NaN   NaN
13         Indiana     NaN           NaN   NaN
14            Iowa     NaN           NaN   NaN
15          Kansas     NaN           NaN   NaN
16        Kentucky     NaN           NaN   NaN
17       Louisiana     NaN           NaN   NaN
18           Maine     NaN           NaN   NaN
19        Maryland     NaN           NaN   NaN
20   Massachusetts     NaN           NaN   NaN
21        Michigan     NaN           NaN   NaN
22       Minnesota     NaN           NaN   NaN
23     Mississippi     NaN           NaN   NaN
24        Missouri     NaN           NaN   NaN
25         Montana     NaN           NaN   NaN
26        Nebraska     NaN           NaN   NaN
27          Nevada     NaN           NaN   NaN
28   New Hampshire     NaN           NaN   NaN
29      New Jersey     NaN           NaN   NaN
30      New Mexico     NaN           NaN   NaN
31        New York     NaN           NaN   NaN
32  North Carolina     NaN           NaN   NaN
33    North Dakota     NaN           NaN   NaN
34            Ohio     NaN           NaN   NaN
35        Oklahoma     NaN           NaN   NaN
36          Oregon     NaN           NaN   NaN
37    Pennsylvania     NaN           NaN   NaN
38    Rhode Island     NaN           NaN   NaN
39  South Carolina     NaN           NaN   NaN
40    South Dakota     NaN           NaN   NaN
41       Tennessee     NaN           NaN   NaN
42           Texas     NaN           NaN   NaN
43            Utah     NaN           NaN   NaN
44         Vermont     NaN           NaN   NaN
45        Virginia     NaN           NaN   NaN
46      Washington     NaN           NaN   NaN
47   West Virginia     NaN           NaN   NaN
48       Wisconsin     NaN           NaN   NaN
49         Wyoming     NaN           NaN   NaN

In [15]:
donors_df = pd.read_csv("assessment/donors2008.csv")

In [16]:
donors_df.

,LastName,FirstName,Employer,City,State,Zip,Amount,FIELD8
0,Aaron,Eugene,State Department,Dulles,VA,20189,500.0,NaN
1,Abadi,Barbara,Abadi & Co.,New York,NY,10021,200.0,NaN
2,Adamany,Anthony,Retired,Rockford,IL,61103,500.0,NaN
3,Adams,Lorraine,Self,New York,NY,10026,200.0,NaN
4,Adams,Marion,None,Exeter,NH,03833,100.0,NaN
...,...,...,...,...,...,...,...,...
1771,Zinczenko,David,Rodale,Allentown,PA,18102,500.0,NaN
1772,Zschiesche,Peter,NaN,San Diego,CA,92104,250.0,NaN
1773,Zweidinger,Ruth,NaN,Hillsborough,NC,27278,250.0,NaN
1774,Zwerdling,David,"Montg Cnty, Md",Silver Spring,MD,20910,35.0,NaN
1775,Zyskind,Jon,JDS Uniphase,Concord,MA,10742,25.0,NaN

In [25]:
donors_state_df = donors_df.groupby(["State"]).mean()

donors_state_df.loc[donors_state_df["Amount"]>= 750].count()

Amount    9
FIELD8    0
dtype: int64

In [32]:
print("I think her name was + " + name + "?")

NameError: name 'name' is not defined

In [33]:
students = ("Frank", "Mary", "Jasmine", "Ivana", "Ahmed")
students.append("Serena")
print(students)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
import requests
url = "https://api.spacexdata.com/v2/launchpads"
sx = requests.get(url)
len(sx.json())

6

In [41]:
donors_df = pd.read_csv("assessment/cereal.csv")

In [45]:
import os
import csv
import matplotlib as plt

In [44]:
pies = ["Apple", "Pumpkin", "Chocolate Creme", "Cherry", "Apple Crumb", "Pecan", "Lemon Meringue", "Blueberry", "Key Lime", "Peach"]
pie_votes = [47,37,32,27,25,24,24,21,18,16]
colors = ["yellow","green","lightblue","orange","red","purple","pink","yellowgreen","lightskyblue","lightcoral"]
offset = (0,0,0,0.2,0,0,0,0,0,0)

plt.pie(pie_votes, explode = offset, labels = pies)

AttributeError: module 'matplotlib' has no attribute 'pie'

In [47]:
pie_votes = [47,37,32,27,25,24,24,21,18,16]
pie_votes.sum()

AttributeError: 'list' object has no attribute 'sum'

In [49]:
import json
import os

filepath = os.path.join("assessment","youtube_response.json")
with open(filepath) as jsonfile:
    video_json = json.load(jsonfile)
    video_json

In [ ]:
tick_locations = [value for value in ]
plt.figure(figsize=(20,3))
plt