In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config1 import gkey


# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,city,country,date,lat,lng,max_temp,humidity,cloudiness,wind_speed
0,0,Kavieng,PG,2021-01-21 20:41:42,-2.5744,150.7967,81.46,65,86,6.55
1,1,Oktyabrskoye,RU,2021-01-21 20:41:42,43.0645,44.7417,19.00,86,0,2.24
2,2,Willowmore,ZA,2021-01-21 20:41:43,-33.2926,23.4895,76.87,47,2,4.99
3,3,Nikolskoye,RU,2021-01-21 20:41:43,59.7035,30.7861,14.00,85,90,17.90
4,4,Khatanga,RU,2021-01-21 20:41:43,71.9667,102.5000,-32.30,84,98,2.93

In [2]:
city_data_df.dtypes

City_ID         int64
city           object
country        object
date           object
lat           float64
lng           float64
max_temp      float64
humidity        int64
cloudiness      int64
wind_speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["max_temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
#heatmap of temperature

# 1. assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["lat", "lng"]]
#get max temp
max_temp = city_data_df["max_temp"]
#assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, 
                                 dissipating=False, max_intensity=200, 
                                 point_radius=4)
#add heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#heatmap of temperature
locations = city_data_df[["lat", "lng"]]
humidity = city_data_df["humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#heatmap of temperature
locations = city_data_df[["lat", "lng"]]
cloudiness = city_data_df["cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#heatmap of temperature
locations = city_data_df[["lat", "lng"]]
wind = city_data_df["wind_speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_tempur = float(input("What is the minimum temperature you would like for your trip? "))
max_tempur = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 60

In [34]:
#filter cities into a dataset that fits their preferences
preferred_cities_df = city_data_df.loc[(city_data_df.max_temp <= max_tempur)&
                                      (city_data_df.max_temp >= min_tempur)]
preferred_cities_df.isna().sum()

City_ID       0
city          0
country       0
date          0
lat           0
lng           0
max_temp      0
humidity      0
cloudiness    0
wind_speed    0
dtype: int64

In [35]:
hotel_df = preferred_cities_df[["city", "country", "max_temp", "lat", "lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head()

          city country  max_temp      lat       lng Hotel Name
11   Jamestown      US     36.00  42.0970  -79.2353
19  Codrington      AU     57.78 -38.2667  141.9667
21     Mataura      NZ     55.00 -46.1927  168.8643
22        Lasa      IT     33.80  46.6166   10.7002
25      Persan      FR     50.00  49.1500    2.2667

In [69]:
#set parameters for hotel search

params = {
    "radius": "5000",
    "types": "lodging",
    "key": gkey
}

#iterate through the DataFrame 
for index, row in hotel_df.iterrows():
    #get lat and long
    lat = row["lat"]
    lng = row["lng"]
    
    #add the latitude and longitude to location key for the params 
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get json data from the search
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Found")
    except:
        print("Not Found, next")

Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Not Found, next
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Not Found, next
Found
Found
Not Found, next
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Not Found, next
Found
Found
Found
Not Found, next
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Not Found, next
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found
Found

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
<dt>Max Temp</dt><dd>{max_temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["lat", "lng"]]
max_temp = hotel_df["max_temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))